<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 * IBM Confidential
 * OCO Source Materials
 * 5725-B69 5655-Y31 5655-Y17
 * Copyright IBM Corp. 1987, 2013
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has
 * been deposited with the U.S. Copyright Office.
-->




<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>teamserver</display-name>
	<description>ILOG Rule Team Server</description>

	<!--  ================================================================= -->
	<!--  C O N T E X T - P A R A M                                         -->
	<!--  ================================================================= -->
	<context-param>
		<description>
			List of views that can be cached by the browser. By default the cache is disabled, and the list should be Regular
			Expressions separated by commas.
		</description>
		<param-name>ilog.rules.teamserver.CACHE_ENABLED_VIEWS</param-name>
		<param-value>/home.*,/explore/.*,/query/.*,/configure/.*,/admin/.*</param-value>
	</context-param>
	<context-param>
		<description>
			List of views that cannot be cached by the browser. By default the cache is disabled but this list could be used to
			disable specific views that match the previous cache-enabled list.
		</description>
		<param-name>ilog.rules.teamserver.CACHE_DISABLED_VIEWS</param-name>
		<param-value>/.*/confirm.*, /.*/.*/confirm.*, /.*/delete.*, /.*/.*/delete.*, /configure/erase_project.jsp</param-value>
	</context-param>
	<context-param>
		<param-name>ilog.webui.dhtml.controller_path</param-name>
		<param-value>/servlet/ilog.rules.teamserver.web.util.Controller</param-value>
	</context-param>
	<!-- Uncomment this block to enable anonymous sign in -->
	<!--
		<context-param>
		<param-name>ilog.rules.teamserver.web.anonymous_path</param-name> 
		<param-value>/anonymous</param-value>
		</context-param>
	-->
	<context-param>
		<description>Modify the timeout value that is associated with transactions (in seconds)</description>
		<param-name>ilog.rules.teamserver.transaction.timeout</param-name>
		<param-value>600</param-value>
	</context-param>
	<context-param>
		<param-name>ilog.rules.teamserver.web.faces_path</param-name>
		<param-value>/faces</param-value>
	</context-param>
	<context-param>
		<param-name>ilog.webui.dhtml.servlet_context_delegate</param-name>
		<param-value>ilog.rules.teamserver.web.servlets.IlrWServletContextDelegate</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/managed-beans.xml, /WEB-INF/navigation-rules.xml, /WEB-INF/skin-faces-config.xml,
			/WEB-INF/extended-faces-config.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.READONLY_AS_DISABLED_FOR_SELECTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
     <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
     <param-value>true</param-value>
	</context-param> 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*.xml</param-value>
	</context-param>

	<!--  ================================================================= -->
	<!--  F I L T E R                                                       -->
	<!--  ================================================================= -->
	<filter>
		<filter-name>fileUploadFilter</filter-name>
		<filter-class>ilog.rules.teamserver.web.servlets.filter.IlrFileUploadFilter</filter-class>
		<init-param>
			<description>Set the size limit for uploaded files.</description>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>100m</param-value>
		</init-param>
		<init-param>
			<description>
				Set the threshold size - files below this limit are stored in memory, files above this limit are stored on disk.
			</description>
			<param-name>uploadThresholdSize</param-name>
			<param-value>100k</param-value>
		</init-param>
		<!-- 
			<init-param>
			<param-name>uploadRepositoryPath</param-name>
			<param-value>/temp</param-value>
			<description>Set the path where the temporary files will be stored.</description>
			</init-param>
		-->
	</filter>
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>ilog.rules.teamserver.web.servlets.filter.IlrSessionFilter</filter-class>
		<init-param>
			<param-name>exclusion-pattern</param-name>
			<param-value>.*?(?:\.js|\.css|\.ico|\.gif|\.png|\.jpg|\.rpc|\.html|/unauthenticatedLogout|/logout|/error403.jsp|/error403b.jsp|/error408.jsp)$</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>accessFilter</filter-name>
		<filter-class>ilog.rules.teamserver.web.servlets.filter.IlrAccessFilter</filter-class>
		<init-param>
			<description>
				List of views that are directly accessible. Accessing a view not listed here will always prompt the user to the
				Home page
			</description>
			<param-name>accessibleViews</param-name>
			<param-value>
				/login.jsp, /loginError.jsp, /error408.jsp, /home.jsp, /action.jsp, 
				/explore/explore.jsp, /compose/compose.jsp, /query/query.jsp, /configure/configure.jsp
			</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>securityCheckPointFilter</filter-name>
		<filter-class>ilog.rules.teamserver.web.security.SecurityCheckPointFilter</filter-class>
		<init-param>
			<param-name>ilog.rules.teamserver.check-referer</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ilog.rules.teamserver.check-cookie</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ilog.rules.teamserver.url-form-check-inclusion-patterns</param-name>
			<param-value>/action.jsp,/remoting/session</param-value>
		</init-param>
		<init-param>
			<param-name>ilog.rules.teamserver.url-form-check-exclusion-patterns</param-name>
			<param-value>/gwt*</param-value>
		</init-param>
		<init-param>
			<param-name>ilog.rules.teamserver.security-check-exclusion-pattern</param-name>
			<param-value>.*?(?:\.js|\.css|\.ico|\.gif|\.png|\.jpg|\.rpc|\.html)$</param-value>
		</init-param>
	</filter>
	<!-- Add your custom filter here if needed -->

	<!--  ================================================================= -->
	<!--  F I L T E R - M A P P I N G                                       -->
	<!--  ================================================================= -->
	<filter-mapping>
		<filter-name>fileUploadFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<!-- Uncomment this block to enable anonymous sign in -->
	<!--
		<filter-mapping>
		<filter-name>fileUploadFilter</filter-name>
		<url-pattern>/anonymous/faces/*</url-pattern>
		</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>accessFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securityCheckPointFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Uncomment this block to enable anonymous sign in -->
	<!--
		<filter-mapping>
		<filter-name>accessFilter</filter-name>
		<url-pattern>/anonymous/faces/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		</filter-mapping>
	-->
	<!-- Add your custom filter-mapping here if needed -->

	<!--  ================================================================= -->
	<!--  L I S T E N E R                                                   -->
	<!--  ================================================================= -->
	<listener>
  		<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>

	<!--  ================================================================= -->
	<!--  S E R V L E T                                                     -->
	<!--  ================================================================= -->
	<servlet>
		<description>Controller servlet</description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.util.Controller</servlet-class>
	</servlet>
	<servlet>
		<description>RulesetGeneratorServlet</description>
		<display-name>RulesetGeneratorServlet</display-name>
		<servlet-name>RulesetGeneratorServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrRulesetGeneratorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>DownloadServlet</description>
		<display-name>DownloadServlet</display-name>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>ConnectServlet</description>
		<display-name>ConnectServlet</display-name>
		<servlet-name>ConnectServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.ConnectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Reporting Image servlet</description>
		<display-name>ReportingServlet</display-name>
		<servlet-name>ReportingServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrReportingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>IlrSessionServlet</description>
		<display-name>SessionServlet</display-name>
		<servlet-name>SessionServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RtsSyncServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.RtsSyncServlet</servlet-class>
		<init-param>
			<param-name>dataSource</param-name>
			<param-value>jdbc/ilogDataSource</param-value>
		</init-param>
		<init-param>
			<param-name>ruleProject</param-name>
			<param-value>RuleProject</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>sessionExporter</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrSessionRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RSOEditingServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.RSOEditingServlet</servlet-class>
	</servlet>

	<!-- RPC Mapping (GWT) -->
	<servlet>
		<servlet-name>rso</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.gwt.rsosync.services.RSOServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TemplateGenerator</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.gwt.templateGenerator.services.TemplateGeneratorServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportSelector</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.gwt.reportSelector.services.ReportSelectorServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BranchMerge</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.gwt.branchMerge.services.BranchMergeServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rtssynchro</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.gwt.rtssync.services.RTSSynchronizationServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>ilog.rules.webui.IlrWResourceServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>IlrValueEditorsServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrWValueEditorsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IlrLogoutServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrBrlEditorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IlrDtEditorServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrDtEditorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IlrShortcutsServlet</servlet-name>
		<servlet-class>ilog.rules.teamserver.web.servlets.IlrShortcutsServlet</servlet-class>
	</servlet>
	

	<!--  ================================================================= -->
	<!--  S E R V L E T - M A P P I N G                                     -->
	<!--  ================================================================= -->

	<!-- RPC Mapping (GWT) -->
	<servlet-mapping>
		<servlet-name>rso</servlet-name>
		<url-pattern>/gwt/RSO/RSOService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TemplateGenerator</servlet-name>
		<url-pattern>/gwt/templateGenerator/TemplateGeneratorService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportSelector</servlet-name>
		<url-pattern>/gwt/reportSelector/ReportSelectorService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BranchMerge</servlet-name>
		<url-pattern>/gwt/branchMerge/BranchMergeService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rtssynchro</servlet-name>
		<url-pattern>/gwt/RTSSynchro/RTSSynchronizationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<url-pattern>/servlet/IlrBrlEditorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<url-pattern>/servlet/IlrBrlEditorServlet/*</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<url-pattern>/BrlEditor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<url-pattern>/BrlEditor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrShortcutsServlet</servlet-name>
		<url-pattern>/servlet/IlrShortcutsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrShortcutsServlet</servlet-name>
		<url-pattern>/servlet/IlrShortcutsServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrDtEditorServlet</servlet-name>
		<url-pattern>/DecisionTableEditor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrDtEditorServlet</servlet-name>
		<url-pattern>/DecisionTableEditor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/servlet/ResourceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/servlet/ResourceServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrValueEditorsServlet</servlet-name>
		<url-pattern>/servlet/IlrValueEditorsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/servlet/ilog.rules.teamserver.web.util.Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RulesetGeneratorServlet</servlet-name>
		<url-pattern>/servlet/RulesetGeneratorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/servlet/DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectServlet</servlet-name>
		<url-pattern>/servlet/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServlet</servlet-name>
		<url-pattern>/servlet/SessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportingServlet</servlet-name>
		<url-pattern>/servlet/ReportingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RSOEditingServlet</servlet-name>
		<url-pattern>/servlet/RSOEditing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RtsSyncServlet</servlet-name>
		<url-pattern>/rts-sync/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sessionExporter</servlet-name>
		<url-pattern>/remoting/session</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrLogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IlrLogoutServlet</servlet-name>
		<url-pattern>/unauthenticatedLogout</url-pattern>
	</servlet-mapping>
	<!-- Uncomment this block to enable anonymous sign in -->
	<!--
		<servlet-mapping>
		<servlet-name>rso</servlet-name>
		<url-pattern>/anonymous/gwt/RSO/RSOService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>TemplateGenerator</servlet-name>
		<url-pattern>/anonymous/gwt/templateGenerator/TemplateGeneratorService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ReportSelector</servlet-name>
		<url-pattern>/anonymous/gwt/reportSelector/ReportSelectorService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<url-pattern>/anonymous/servlet/IlrBrlEditorServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>IlrBrlEditorServlet</servlet-name>
		<url-pattern>/anonymous/servlet/IlrBrlEditorServlet/*</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>IlrValueEditorsServlet</servlet-name>
		<url-pattern>/anonymous/servlet/IlrValueEditorsServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/anonymous/servlet/ilog.rules.teamserver.web.util.Controller</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>RulesetGeneratorServlet</servlet-name>
		<url-pattern>/anonymous/servlet/RulesetGeneratorServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/anonymous/servlet/DownloadServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ReportingServlet</servlet-name>
		<url-pattern>/anonymous/servlet/ReportingServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>RSOEditingServlet</servlet-name>
		<url-pattern>/anonymous/servlet/RSOEditing</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/anonymous/faces/*</url-pattern>
		</servlet-mapping>
	-->

	<!--  ================================================================= -->
	<!--  W E L C O M E - F I L E - L I S T                                 -->
	<!--  ================================================================= -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--  ================================================================= -->
	<!--  E R R O R - P A G E                                               -->
	<!--  ================================================================= -->
		<error-page>
		<error-code>400</error-code>
		<location>/error400.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/faces/error408.jsp</location>
	</error-page>

	<!--  ================================================================= -->
	<!--  R E S O U R C E - R E F                                           -->
	<!--  ================================================================= -->

	<!-- Add your custom resource-ref here if needed -->
	
	<resource-ref>
		<res-ref-name>eis/XUConnectionFactory</res-ref-name>
		<res-type>javax.resource.cci.ConnectionFactory</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>	

	<!--  ================================================================= -->
	<!--  S E C U R I T Y - C O N S T R A I N T                             -->
	<!--  ================================================================= -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entry points</web-resource-name>
			<url-pattern>/faces/analyze/*</url-pattern>
			<url-pattern>/faces/common/*</url-pattern>
			<url-pattern>/faces/compose/*</url-pattern>
			<url-pattern>/faces/content/*</url-pattern>
			<url-pattern>/faces/custom/*</url-pattern>
			<url-pattern>/faces/explore/*</url-pattern>
			<url-pattern>/faces/home/*</url-pattern>
			<url-pattern>/faces/layouts/*</url-pattern>
			<url-pattern>/faces/partials/*</url-pattern>
			<url-pattern>/faces/project/*</url-pattern>
			<url-pattern>/faces/query/*</url-pattern>
			<url-pattern>/faces/ruleapps/*</url-pattern>
			<url-pattern>/faces/ajax_action/*</url-pattern>
			<url-pattern>/faces/action.jsp</url-pattern>
			<url-pattern>/faces/error.jsp</url-pattern>
			<url-pattern>/faces/home.jsp</url-pattern>
			<url-pattern>/faces/index.jsp</url-pattern>
			<url-pattern>/faces/info.jsp</url-pattern>
			<url-pattern>/faces/internalError.jsp</url-pattern>
			<url-pattern>/faces/manageJobsProgress.jsp</url-pattern>
			<url-pattern>/faces/please_wait.jsp</url-pattern>
			<url-pattern>/faces/progressStatus.jsp</url-pattern>
			<url-pattern>/progressStatus.jsp</url-pattern>
			<url-pattern>/faces/uitree/*</url-pattern>
			<url-pattern>/faces/uitable/*</url-pattern>
			<url-pattern>/servlet/RSOEditing</url-pattern>
			<url-pattern>/servlet/ReportingServlet</url-pattern>
			<url-pattern>/servlet/SessionServlet</url-pattern>
			<url-pattern>/servlet/TestingDownloadServlet</url-pattern>
			<url-pattern>/servlet/RulesetGeneratorServlet</url-pattern>
			<url-pattern>/servlet/ilog.rules.teamserver.web.util.Controller</url-pattern>
			<url-pattern>/servlet/IlrValueEditorsServlet</url-pattern>
			<url-pattern>/servlet/IlrBrlEditorServlet/*</url-pattern>
			<url-pattern>/servlet/IlrBrlEditorServlet</url-pattern>
			<url-pattern>/DecisionTableEditor</url-pattern>
			<url-pattern>/gwt/RSOService</url-pattern>
			<url-pattern>/gwt/TemplateGeneratorService</url-pattern>
			<url-pattern>/gwt/ReportSelectorService</url-pattern>
			<url-pattern>/gwt/BranchMergeService</url-pattern>
			<url-pattern>/remoting/*</url-pattern>
			<url-pattern>/rts-sync/*</url-pattern>
			<url-pattern>/logout</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>rtsAdministrator</role-name>
			<role-name>rtsConfigManager</role-name>
			<role-name>rtsUser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entry points</web-resource-name>
			<url-pattern>/faces/configure/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>rtsInstaller</role-name>
			<role-name>rtsConfigManager</role-name>
			<role-name>rtsAdministrator</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entry points</web-resource-name>
			<url-pattern>/faces/install/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>rtsInstaller</role-name>
		</auth-constraint>
	</security-constraint>

	<!--  ================================================================= -->
	<!--  L O G I N - C O N F I G                                           -->
	<!--  ================================================================= -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/faces/login.jsp</form-login-page>
			<form-error-page>/faces/loginError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<!--  ================================================================= -->
	<!--  J S P - C O N F I G                                           -->
	<!--  ================================================================= -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>ISO-8859-1</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<!--  ================================================================= -->
	<!--  S E C U R I T Y - R O L E                                         -->
	<!--  ================================================================= -->
	<security-role>
		<role-name>rtsInstaller</role-name>
	</security-role>
	<security-role>
		<role-name>rtsAdministrator</role-name>
	</security-role>
	<security-role>
		<role-name>rtsUser</role-name>
	</security-role>
	<security-role>
		<role-name>rtsConfigManager</role-name>
	</security-role>
	<!-- Add your custom security roles here if needed -->
				<security-role>
					<role-name>administrator</role-name>
				</security-role>
				<security-role>
					<role-name>author</role-name>
				</security-role>
				<security-role>
					<role-name>reviewer</role-name>
				</security-role>
				<security-role>
					<role-name>tester</role-name>
				</security-role>
				<security-role>
					<role-name>deployer</role-name>
				</security-role>
				<security-role>
					<role-name>loanValidationGroup</role-name>
				</security-role>
				<security-role>
					<role-name>miniloanGroup</role-name>
				</security-role>				
            

	<!--  ================================================================= -->
	<!--  USER DEFINED EXTENSIONS                                           -->
	<!--  ================================================================= -->
	
	<!-- Add your custom servlets here if needed -->
	
</web-app>